@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .container section {
    display: flex;
    flex-direction: column;
  }
  .tags {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.title {
  margin-bottom: 30px;
  color: var(--grey-7000);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
