@media screen and (max-width: 950px) {
  .section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
  }
  .img {
    width: 100%;
    height: 100%; /*para ficar responsivo isso e importante  */
  }
}

.section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 290px;
}

.contactLink {
  font-size: 1.3em;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--white);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article h2 {
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 400;
  color: var(--grey-1100);
}

.article p {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--black);
  margin-right: 20px;
}

.img {
  border-radius: 8px;
  width: 100%;
}
