.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--grey-0);
}

.container div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 23px 45px;
  height: 100%;
}
