.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-0);
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 23px 45px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}
