.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.container a:hover {
  opacity: 0.8;
}

.img {
  border-radius: 4px;
  width: 350px;
  height: 250px;
}
.article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.article h3 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7rem;
  color: var(--primary-1100);
}

.article span {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--grey-1000);
}
